/cxi/*.ko
/cxi/*.o
/cxi/*.o.cmd
/cxi/*.ko.cmd
/cxi/*.o.d
/cxi/*.cmd
/cxi/*.mod
/cxi/*.mod.c
/cxi/tests/.*
/cxi/tests/*.ko
/cxi/tests/*.mod
/cxi/tests/*.o
/cxi/tests/*.mod.c
/cxi/tests/modules.order
/cxi/Module.symvers
/cxi/modules.order
/cxi/modules.livepatch
/cxi/.tmp_versions
/ucxi/*.o
/ucxi/test_csr_access
/ucxi/test_nlmsg
/ucxi/test_rgroup
/ucxi/test_rx_profile
/ucxi/test_ucxi
/ucxi/test_ucxi_atu
/tests/output/*
/tests/*.dbg
/tests/test_cmd.sh
/scripts/*.dbg
*cscope.*
*.swp
*.gcno
/tests/tmptests/*
.vscode/*
